.homepage {
    position: fixed; 
  min-width: 100%;
  min-height: 100%;
  /* background-size: cover; */
  /* background-position:center ; */
  padding: 0; 
    /* background-repeat: no-repeat;
    background-size:100%; */
}

.shop {
    justify-content: space-between;
}

.clownCards {
    width: 22rem;
    margin: 2rem;
}

.navbar {
    /* background-color: crimson; */
}

.homepage_clown {
    /* max-width: 100%; */
    /* height: 100%; */
    padding: 0; 
    /* background-repeat: no-repeat; */
    /* background-size:100%; */
}

h1 {
    /* color: brown; */
}
